[submodule "rest-service"]
	path = rest-service
	url = git@github.com:jotrk/rest-service
[submodule "anagram-service"]
	path = anagram-service
	url = git@github.com:jotrk/anagram-service
[submodule "anagram-solver"]
	path = anagram-solver
	url = git@github.com:jotrk/anagram-solver
[submodule "completion-service"]
	path = completion-service
	url = git@github.com:jotrk/completion-service
[submodule "completion-engine"]
	path = completion-engine
	url = git@github.com:jotrk/completion-engine
[submodule "webui-service"]
	path = webui-service
	url = git@github.com:jotrk/webui-service
